/* Custom Variables  */
:root {
  --main-white: #FDF5DF;
  --main-red: #F92C85;
  --main-blue: #5EBEC4;
  --main-darkgrey: #1D2228;
  --main-gray: #303841;
  --main-purple: rgb(39, 34, 58);
}

/* Base Setup */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* Base Setup Media Queries for Different Basic Screen Sizes */

/* laptop */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* tablet */
@media (max-width: 900px) {
  html {
    font-size: 58%;
  }
}

/* phone */
@media (max-width: 500px) {
  html {
    font-size: 58%;
  }
}

/* Base Element Styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-weight: 500;
  text-align: center;
  font-size: 6.5rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: flex;
  width: 100%;
}

/* Navigation Bar */
header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  z-index: 9999;
}

.mainmenu {
  display: flex;
  margin-right: 2rem;
}

.mainmenu a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.mainmenu a:hover {
  background: var(--main-blue);
}

/* Navigation Bar - Media Query*/
@media (max-width: 500px) {
  header {
    display: inline-block;
    align-content: center;
  }

  .mainmenu {
    display: flex;
    margin: 0 1rem;
    justify-content: space-around;
  }

  .mainmenu li a {
    text-align: center;
    margin: 0rem;
    font-size: 14px;
  }
}

/* Profile Banner Section*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-white);
}
.home > h1 {
  background: -webkit-linear-gradient(62deg, #F77d8b 0%, #6648fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  margin-top: 20px;
  
}
.home > p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  padding-top: 10px;
  color: var(--main-gray);
}
.home > img {
 display: flex;
 align-items: center;
 vertical-align:middle;
  max-width: 300px;
  margin-top: 30px;  
  transition: transform .3s;
  transition-timing-function: ease-in-out;
  
}

.home > img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

/* Profile Banner Section - Media Query*/
@media (max-width: 430px) {
  .home > img{
    max-width: 80%;
  }
  .home h1 {
    margin-top: 15%;
    line-height: 1;
    font-size: 6rem;
    padding-bottom: 10px;
    z-index: 10;

  }
  .home > p {
    padding-top: 10px;
    font-size: 2rem;
  }
}

/* About Section*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 50vh;
  z-index: 20;
}

.about > p {
display: flex;
margin-top: 15px;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
  text-align: center;
}
.about  h2 {
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: 15px 60px;
  position: relative;
}

.about  h2:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;

  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.about  h2:hover:after { 
  width: 100%; 
  left: 0;
}

/* About Section - Media Query*/
@media (max-width: 500px) {
  .about > p {
    font-size: 2rem;
    width: 90%;
  }
}

/* Projects section*/
main {
  text-align: center;
  padding: 10rem 2rem;
  background-image: linear-gradient(62deg, #F77d8b 0%, #6648fc 100%);
  transition: all 0.5s ease-in-out;
}

main:hover {
  background-image: linear-gradient(75deg, #F77d8b 0%, #6648fc 90%);
}
main h2 { 
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  position:relative
}

/* Projects section - Media Query (Title) */
@media (max-width: 800em) {
  main h2 {
    font-size: 4rem;
  }
}

/* Projects section - First Project*/
.first-project img {
  display: inline-block;
  object-fit: cover;
  height: 500px;
  width: 800px;
  object-position: left top;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.first-project img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}
  
.first-project p {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  margin-top: -10px;
  margin-bottom: 6rem;
}

/* Projects section - First Project - Media Query*/
 @media (max-width: 500px) {
  .first-project img {
  display: inline-block;
  width: 100%;
  object-fit: cover;
  height: 400px ;
  }
}

 @media (min-width: 500px) and (max-width: 800px) {
  .first-project img {
    display: inline-block;
    width: 75%;
    object-fit: cover;
    height: 400px ;
    padding: 2% 2% 2% 0 ;
  }

  .first-project p {
    font-size: 2rem;
    padding: 1rem 0.5rem;
    margin-top: -20px;
    margin-bottom: 6rem;
  }
}

/* Projects section - Other Projects*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-auto-rows: 1fr;
}

.project img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.project img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

.project p {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/* Projects section - Other Projects - Media Query*/
@media (max-width: 500px) {
  main {
    padding: 6rem 3rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .projects-grid{
    grid-gap: 10rem;
    max-width: 1300px;
  }
}

/* Contact section */
#contact {
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--main-darkgrey);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  }
  
.contact-links, 
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 5% 5%;
  align-items: center;
  }
  
.contact-links h2 {
  font-family:'Fugaz One', cursive;
  background: -webkit-linear-gradient(62deg, #F77d8b 0%, #6648fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
  }
  
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  }
  
  
.contactimg {
  width: 45px;
  height: 45px;
  transition: 0.2s;
  user-select: none;
  color: white;
  }
  
.contactimg:hover {
  transform: scale(1.1, 1.1);
  }
  
.contactimg:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
  }
  
.form-item {
  position: relative;
  }
  
label, input, textarea {
  font-family: 'Poppins', sans-serif;
  }

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: rgb(168, 168, 168);
  opacity: 1;
  pointer-events: none;
  user-select: none;
  }
  
input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid var(--main-darkgrey);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
  }
  
input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  color: var(--main-red);
  opacity: 0;
  transition: all .225s ease;
  }
  
button {
  background-image: -webkit-linear-gradient(120deg, #F77d8b 10%, #6648fc 100%);
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  }
  
.contact-info {
    color: var(--main-darkgrey);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    
  }

button:hover {
  transform: scale(1.1, 1.1);
  }
  
button:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
  }
  

  /* Contact section - media query */
  @media only screen and (max-width: 450px) {
    .contact-links, .contact-form-wrapper {
      width: 100%;
    }
    
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
    }
    
  @media only screen and (max-width: 450px) {
    .contact-box {
      width: 95%;
      margin: 8% 5%;
      border: none;
    }
    }

  @media only screen and (max-width: 500px) {
    .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:20px;
  }

  /* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

  /* Footer Media Query*/
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

